@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

section {
    width: 1915px;
    height: 553.09px;
    background-color: #f5edea;
}

h1 {
    color: #FFFFFF;
    font-size: 90px;
    font-weight: 700;
}

h2 {
    color: #324436;
    font-size: 90px;
    font-weight: 700;
}

h3 {
    color: #DCDACD;
    font-size: 60px;
    font-weight: 500;
}

h4 {
    color: #DCDACD;
    font-size: 38px;
    font-weight: 400;
}

p {
    width: 1200px;
    color: #324436;
    font-size: 30px;
    font-weight: 400;
}

li {
    color: #324436;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 15px;
}

.homepage-green {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 1992px;
    height: 886px;
    background-color: #324436;
}

.homepage-green a {
    border-bottom: 2px solid #FFFFFF;
}

.homepage-white {
    width: 1915px;
    height: 553.09px;
    background-color: #FFFFFF;
}

.homepage-white a{
    border-bottom: 2px solid #357B8F;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 400px;
    background-color: #F5EDEA;
    border-radius: 16px;
}

.card-title {
    color:#324436;
    font-size: 41.3px;
    font-weight: 600;
}

.icon {
    width: 40px;
    height: 40px;
}

#do-not-card {
    width: 1600px;
    height: 572px;
    background-color: #FFFFFF;
    border-top: 7px solid #357B8F;
    border-radius: 16px;
}

#main-image {
    width: 600px;
    height: 450px;
    top: 431.67px;
    left: 1182.93px;
}

