#not-every-animal {
    position: relative;
    height: 250px;
    width: 100%;
}

.overlayText {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.headerTwo {
    font-size: 50px;
    font-weight: 500; 
    font-family: "DM Sans", sans-serif; 
    margin: 0; 
    color: white;
    width: 950px;
    margin-bottom: 20px;
}
.bodyText {
    font-size: 24px; /* 38px */
    font-family: "DM Sans", sans-serif; 
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0px;
    color: #DCDACD;
    width: 1000px;
}
